h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-style: italic;
}
body{
    background-image: url(https://www.freepik.com/premium-photo/ghana-brick-flag-illustration_7491664.htm#page=1&query=ghanaian&position=1);
}